body {
  background-color: #362A35;
	-webkit-font-smoothing: antialiased;
}

body, svg {
	fill: white;
  color: white;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;;
}

h1, h2, h3, p {
	text-align: center;
}

h1 {
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 60px 0 0 0;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	opacity: 0.5;
	margin: 5px 0 0 0;
}

h3 {
  font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
	opacity: 0.5;
}

img {
  vertical-align: top;
}

.headline {
  margin: 50px 20px;
}

section#urbanisation {
	background-color: #3A3E57;
}

#urbanisation-bottom {
	width: 100%;
	height: 52px;
	background-image: url("../graphics/section1-bottom.svg");
	background-repeat: repeat-x;
}

section#heat_days {
	background-color: #32434A;
}

#heat_days-bottom {
	width: 100%;
	height: 240px;
	background-image: url("../graphics/section2-bottom.svg");
	background-repeat: repeat-x;
}

/* -------------------------------------------------------------------------- */
/* URBANISATION ------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#dotted-world-map {
  margin: 80px 0;
}

.y1950, .y1990, .y2030 {
	cursor: pointer;
	stroke: white;
	stroke-width: 0;
}

.y1950 {
	fill: HSLA(176, 86%, 53%, 0.8);
}

.y1990, .y2030 {
	fill: HSLA(176, 86%, 53%, 0.5);
}

.y1950:hover, .y1990:hover, .y2030:hover {
	stroke-width: 2;
}

#dotted-world-map text {
	font-size: 16px;
}

/* -------------------------------------------------------------------------- */
/* HEAT WAVE DAYS ----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.heat-map-headline {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.heat-map-container {
  position: relative;
  display: inline;
  width: 300px;
  height: 300px;
  margin: 0 40px;
	opacity: 0.7;
}

.heat-map-container .img-1, .heat-map-container .img-2 {
  position: absolute;
  left: 0px;
}

#heat_days input {
  width: 340px;
  margin: 80px auto 15px auto;
}

.slider-label {
  width: 510px;
  margin: 0px auto 80px auto;
}

.slider-label p {
  font-size: 14px;
  display: inline-block;
  width: 166px;
  padding: 0 5px;
}

/* basci styles for slider override ----------------------------------------- */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* custom base for slider --------------------------------------------------- */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #ffffff;
  border: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  background: #ffffff;
  border: 0.2px solid #010101;
}

/* custom knob for slider --------------------------------------------------- */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background: #ffffff;
  cursor: auto;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background: #ffffff;
  cursor: auto;
}

/* -------------------------------------------------------------------------- */
/* HEAT AND PRODUCTIVITY ---------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#radar-chart{
  display: inline-block;
}

#radar-chart-legend {
	margin: auto;
	width: 409px;
}

#radar-chart-legend p, #radar-chart-legend div {
	display: inline-block;
	font-size: 12px !important;
  opacity: 1;
}

#radar-chart-legend div {
	width: 10px;
	height: 10px;
}

#radar-chart-legend .nearWarm {
	background-image: linear-gradient(-180deg, rgba(30,238,223,0.50) 0%, rgba(30,238,223,0.00) 100%);
	border: 2px solid #1EEEE0;
}

#radar-chart-legend .farWarm {
	margin-left: 24px;
	background-image: linear-gradient(-180deg, rgba(174,255,84,0.50) 0%, rgba(174,255,84,0.00) 100%);
	border: 2px solid #AEFF55;
}

.radar-chart .tooltip, #line-chart .tooltip-line, #line-chart .tooltip {
	pointer-events: none;
}

.radar-chart .tooltip rect {
	fill: white !important;
	opacity: 0.8 !important;
}

.radar-chart .tooltip text {
	fill: black !important;
	font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.radar-chart .axis .legend.left {
    text-anchor: end;
}

.radar-chart .axis .legend.right {
    text-anchor: start;
}

.radar-chart .area {
  fill-opacity: 0.75;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 1;
}

.radar-chart .circle {
  opacity: 0;
  stroke: rgba(0,0,0,0.0);
  stroke-width: 0;
}
.radar-chart .circle:hover {
  opacity: 1;
}

.radar-chart .level {
	opacity: 0.2;
}

.Near .circle {
	fill: #1EEEE0 !important;
}

.Far .circle {
	fill: #AEFF55 !important;
}

.area.Near {
  fill: url(#near-warm-radar-gradient) !important;
  stroke: none !important;
}
.area.Far {
  fill: url(#far-warm-radar-gradient) !important;
  stroke: none !important;
}

.radar-chart .axis .legend {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
		opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
#map-selection{
  display: inline-block;
  float: right;
	padding-top: 50px;
}

#map-selection circle {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out;
}

.active-dot {
  stroke: rgba(30,238,223,0.50);
  stroke-width: 15;
}


/* -------------------------------------------------------------------------- */
.axis {
	font-size: 10px;
	opacity: .8;
}

.axis path, .axis line {
	fill: none;
	stroke: #fff;
	stroke-width: 1;
}

#line-chart-selection {
  margin: 0px auto;
  width: 1032px;
  height: 310px;
}

#line-chart {
  margin-top: -20px;
}

.line-chart-description {
  width: 420px;
  margin: 150px auto 30px auto;
}

.line-chart-dot {
  opacity: 0;
  cursor: pointer;
  fill: #1EEEE0;
  stroke: rgba(0,0,0,0.0);
  stroke-width: 50;
}

.line-chart-dot:hover {
  opacity: 1;
}

.line-chart-tooltip-h1 {
  font-size: 14px;
  font-weight: 600;
}

.nearWarm{
  fill: url(#near-warm-gradient);
  opacity: 1;
  stroke: url(#near-warm-gradient-stroke);
  stroke-width: 2;
}
.farWarm{
  fill: url(#far-warm-gradient);
  opacity: 1;
  stroke: url(#far-warm-gradient-stroke);
  stroke-width: 2;
}

.y path.domain {
  display: none;
}

.y .tick line {
  opacity: 0.1;
}

.area-chart-legend text {
  font-size: 12px;
}

.future-switch text {
  opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/* CLOSING ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

#resume {
  margin-top: 100px;
  margin-bottom: 80px;
}

#resume .headline {
  width: 500px;
  margin: auto;
}

footer {
  background-color: #1A1419;
}

footer h1, footer p, footer .copyright {
  opacity: 0.5;
}

footer h1 {
  padding-top: 78px;
  font-size: 16px;
	font-weight: 600;
}

footer p {
  margin: 25px auto 0 auto;
  width: 350px;
  font-size: 12px;
}

footer .copyright {
  margin-top: 58px;
  padding-bottom: 10px;
  width: auto;
  font-size: 10px;
}
