body {
  background-color: #362A35;
}

body, svg {
	fill: white;
  color: white;
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
	text-align: center;
}

h1 {
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 60px 0 0 0;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	opacity: 0.5;
	margin: 5px 0 0 0;
}

h3 {
  font-size: 16px;
	text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
	opacity: 0.5;
}

img {
  vertical-align: top;
}

.headline {
  margin: 50px 20px;
}

/* -------------------------------------------------------------------------- */
/* GLOBAL TEMPERATURE CHART ------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.axis {
	font-size: 14px;
	opacity: 0.5;
}

.axis path, .axis line {
	fill: none;
	stroke: #fff;
	stroke-width: 1;
}

.global-temperature-line {
	fill: none;
	stroke: #FA5E5E;
	stroke-width: 2;
}

/* -------------------------------------------------------------------------- */
/* HEAT AND PRODUCTIVITY ---------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#radar-chart{
  display: inline-block;
}

.radar-chart .axis .legend.left {
    text-anchor: end;
}

.radar-chart .axis .legend.right {
    text-anchor: start;
}

.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.radar-chart .circle {
  opacity: 0;
}

.radar-chart .circle:hover {
  opacity: 1;
}

.radar-chart .axis .legend {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
}

#map-selection{
  display: inline-block;
  float: right;
}

#map-selection circle {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out;
}

.active-dot {
  stroke: rgba(30,238,223,0.50);
  stroke-width: 15;
}

/* -------------------------------------------------------------------------- */
.area.Near, .Near .circle {
  fill: #AEFF55 !important;
  stroke: none !important;
}
.area.Far, .Far .circle {
  fill: #1EEEE0 !important;
  stroke: none !important;
}

/* -------------------------------------------------------------------------- */

.line-chart-description {
  width: 420px;
  margin: 150px auto 30px auto;
}

.areaNear{
  fill: #AEFF55;
  opacity: 0.5;
}
.areaFar{
  fill: #1EEEE0;
  opacity: 0.5;
}

.y path.domain {
  display: none;
}

.y .tick line {
  opacity: 0.1;
}
